* {
    margin: 0;
    padding: 0;
}
main{
    margin: 0% 5%;
    padding-top: 20vh;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
h1,h2,h3,h4 {
    margin: 1em 0;

}
.encabezado-principal__switch {
    opacity: 0; /*esto hace que siga en el flujo pero no se vea*/
}
#menu-desplegable {
    display: flex;
    height: 2em;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgba(0,0,0,0);
    margin: 1em;
}
#burguer {
    height: 100%;
}
#switches-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#switch-img {
    height: 2em;
}

#switches{
    display: flex;
    margin: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 1em;
}
.button-project {
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    padding: 2%;
    background-color: rgb(15, 88, 66);
    margin: 5%;
    display: block;
}
#encabezado-principal__idioma-select {
    border: 1px solid white;
    border-radius: 5%;
}
.fuck-you-uml-no-cambiare-todas-las-clases{
    text-align: center;
}
/*header*/
#encabezado-principal {
    position: fixed;
    top: 0;
    width: 100vw;
    box-sizing: border-box;
    z-index: 1; 
}


#encabezado-principal__nav-lista-menu{
    display: none;
}
#encabezado-principal__nav-lista-menu.show {
    margin-top: 2em ;
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 3em;
    padding: 0% 2em;   
    width: 100%;
    box-sizing: border-box;
    
}
.show .encabezado-principal__nav-lista-menu-item {
    background-color: white;
    padding: 1%;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
}
.show .encabezado-principal__nav-lista-menu-item a:hover{
    text-decoration: underline;
}



/*              PRESENTACION                */
.presentacion {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    gap: 2em;
    margin-bottom: 5em;
}
.presentacion__imagen{
    border-radius: 100%;
    height: 15em;
    box-shadow: 0 0 20px 5px rgb(211, 235, 227);
}
.presentacion__titulo {
    font-size: 4em;
    margin: 1% 0;
    color: rgb(28, 54, 126)
}
.presentacion__subtitulo {
    font-weight: 100;
}

.button{
    border: none;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    padding: 1rem;
    width: 10em;
    background-color: rgb(15, 88, 66);
    margin: 1em;
}



/*          PROYECTOS                   */

.proyectos{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}
.proyectos__item{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 0 20px 5px rgb(211, 235, 227);
    padding: 2em;
    width: 100%;
    text-align: center;
    border-radius: 2%;
}
.proyectos__item-lista{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin: 1em;
    box-sizing: border-box;
}


/*                  SOBRE MI                            */

.card{
    box-shadow: 0 0 20px 5px rgb(211, 235, 227);
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    padding: 10%;
    border-radius: 2%;
}



/*                  EXPERIENCIA LABORAL                 */


.experiencia__auxiliar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;

}



/*              ESTUDIOS                            */
.estudios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
}

.estudios__contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;
}

.estudios__universitarios{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}


/*              SECCION HABILIDADES:                */


.habilidades__tecnicas-figura, .habilidades__metodologias-herramientas-figura{
    height: 50px;
}
.habilidades__tecnicas-img, .habilidades__metodologias-herramientas-img{
    height: 100%;
}
.habilidades__tecnicas-lista, .habilidades__metodologias-herramientas-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4em;
    margin: 2em;
}
.habilidades__layout-aplicaciones-practicas-habilidades-blandas{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}


/*              SECCION CONTACT ME                  */

.contacto__contenedor-gif-form-gif {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 2em
}
.contacto__pusheen{
    height: 100px;
}
#contacto__pusheen-hi {
    height: 180px;
}
.contacto__formulario{
    display: flex;
    flex-direction: column;   
}
.contacto__input{
    margin: 1em 0;
}

.contacto__textarea{
    resize: none;
    overflow-y: scroll;
}

/*              footer                              */


.footer__list {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    box-sizing: border-box;
}
.footer {
    height: 10vh;
    padding: 1em;
    margin-top: 2em;
}
.footer__img{
    height: 2em;
}



.fondo_claro {
    background-color: white;
    color: black;
}
.fondo_oscuro {
    background-color: #111122;
    color: white;
}
.fondo_oscuro #encabezado-principal,.fondo_oscuro .footer{
    background-color: #1a1a3f;
}
.fondo_claro #encabezado-principal,.fondo_claro .footer {
    background-color: rgb(198, 231, 236);
}
.fondo_claro .card, .fondo_claro .proyectos__item {
    background-color: white
}
 .fondo_oscuro .card, .fondo_oscuro .proyectos__item, .fondo_oscuro .presentacion__imagen {
    background-color: #141438;
    box-shadow: 0 0 10px 5px rgb(119, 145, 218) ;
 }
.fondo_oscuro .button {
    background-color: #5858a7;
}
.fondo_oscuro .button:hover {
    box-shadow: 0 0 10px 4px rgb(179, 190, 223);
}
.fondo_claro .button:hover {
    box-shadow: 0 0 10px 4px rgb(179, 223, 201);
}
.fondo_claro .button:active {
    background-color: green;
}
.fondo_oscuro .button:active {
    background-color: rgb(55, 0, 128);
}
.fondo_claro .encabezado-principal__nav-lista-menu-item:hover {
    color: green;
}
.fondo_claro .encabezado-principal__nav-lista-menu-item:active {
    color: rgb(2, 34, 16);
}
.fondo_oscuro .encabezado-principal__nav-lista-menu-item:hover {
    color: lightblue;
}
.fondo_oscuro .encabezado-principal__nav-lista-menu-item:active {
    color: rgb(73, 73, 180);
}
.fondo_oscuro .encabezado-principal__nav-lista-menu-item {
    color: black;
}

@media (width >= 768px) {
    #encabezado-principal {
        padding: 2em;
        padding-bottom: 1em;
    }
    .presentacion {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 500px;
    }

    #encabezado-principal__nav-lista-menu {
        display: flex;
        justify-content: space-around;
        gap: 4em;
    }
    .card {
        padding: 2%;
    }
    .experiencia__auxiliar{
        flex-wrap: nowrap;
    }
    .estudios__contenedor{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .estudios {
        flex-wrap: nowrap;
    }
    #section-idiomas {
        width: 20em;
        margin: 0;
    }
    .button {
        padding: 2%;
    }
    .habilidades__layout-aplicaciones-practicas-habilidades-blandas{
        flex-wrap: nowrap;
    }
    .habilidades__blandas{
        width: 50%;
    }
    .presentacion__contenido {
        width: 50em;
    }
    .presentacion {
        flex-direction: row;
        height: 500px;
    }
    .presentacion__imagen{
        height: 20em;
    }
    .proyectos{
        flex-wrap: wrap;
        gap: 2em;
    }
    .proyectos__item{
        width: 30%;
    }
    .contacto__contenedor-gif-form-gif {
        display: flex;
        justify-content: center;
        align-items: end;
        gap: 2em
    }
    .contacto__pusheen{
        height: 100px;
    }
    #contacto__pusheen-hi {
        height: 180px;
    }
    #menu-desplegable {
        display: none;
    }
    #encabezado-principal__nav-lista-menu {
        display: flex;
        flex-direction: row;
        margin: 0 ;
    }

    #encabezado-principal__barra-navegacion {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    #switches{
        padding: 0%;
    }
    .button-project {
        margin: 1%;
        width: 50%;
        align-self: center;
    }
    .fondo_oscuro .encabezado-principal__nav-lista-menu-item {
        color: white
    }
}